h3{
    font-size: 1.3em  !Important;
    font-weight: normal  !Important;
    -webkit-margin-before: 0.4em  !Important;
    -webkit-margin-after: 0.4em  !Important;
    margin: 0 10% !Important;
    white-space: nowrap
}

.mi-util{
    background-color:transparent;
    padding:2px;
    float: left;
    -webkit-margin-before: 0.6em  !Important;
    -webkit-margin-after: 0.6em  !Important;
}

.mi-util:hover{
    background-color:rgba(26,154,220,0.3);
}

.mi-util a {
    background-color:transparent;
    padding:4px;
    display:block;
}

.mi-util a:hover {
    background-color:transparent;
}

.mi-boton-cab{
    background-color:transparent;
    padding:2px;
}

/*.mi-util:hover{*/
/*background-color:#f9dce2;*/
/*}*/

.mi-boton-cab a {
    background-color:transparent;
    padding:4px;
    display:block;
}
.mi-boton-cab a:visited  {
    background-color:transparent;
}
.mi-boton-cab a:link {
    background-color:transparent;
}
.mi-boton-cab a:active {
    background-color:transparent;
}

.mi-boton-cab a:hover {
    background-color:transparent;
}


.mi-img-menu
{
    margin:2px;
    height:16px;
    width:16px;
    background-image: url('images/bars-white.png');
    background-repeat: no-repeat;
}

.mi-cab-menu {
    margin:-16px;
    /*background-image:url('../img/fondomenulateral.png');*/
    color:#ffffff;
    font-size:1.0em;
    font-weight:normal;
}
.mi-cab-menu-texto {
    padding:14px;
    margin-top: -40px;
}
.mi-ul {
    list-style:none;
    text-decoration:none;
    font-size:0.95em;
    -webkit-padding-start: 0px;
    margin-left: -10px;
    margin-right: -10px;
    color:#666666;
}

.mi-selected {
    color:#1a9adc;
}

.mi-ul li {
    border-bottom:1px solid #fafafa;
    padding-left:10px;
}
.mi-ul li:hover {
    background-color: rgba(26,154,220,0.3);
}


.mi-ul a {
	padding: 10px 10px;
	text-decoration: none;
	zoom: 1; /* IE7 */
    color:#666666;
}

.div-loading {
    background: url(../images/gif-load.gif) ;
    background-size: 2.875em 2.875em;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 45%;
    text-align: center;
    color: #B80529;
    font-style: italic;
    padding-top: 15px;
}
.div-mensaje {
    text-align: center;
    color: #B80529;
    font-style: italic;
    padding-top: 15px;
}


.tdSelect .ui-select .ui-btn {
    background-color: transparent;
    font-weight: normal;
    font-size: 1em;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #333333;
}
.tdSelect .ui-select .ui-btn:hover {
    background-color: transparent;
    font-weight: normal;
    font-size: 1em;
    color: #333333;
}
.tdSelect .ui-select .ui-btn:visited {
    background-color: transparent;
    font-weight: normal;
    font-size: 1em;
    color: #333333;
}

#lvCentros{
    list-style: none;
    margin: 0.5em;
    padding: 0em;
}
#lvCentros li{
    padding: 0px;
    color: #333333;
    height: 45px;
    font-size: 0.95em;
}

#lvCentros li a{
    font-size: 0.95em;
    font-weight: normal;
    color: #333333;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #fefefe;
    text-transform: none;
}

#lvFamilia{
    list-style: none;
    margin: 0.5em;
    padding: 0em;
}
#lvFamilia li{
    padding: 0px;
    color: #333333;
    height: 45px;
    font-size: 0.95em;
}

#lvFamilia li a{
    font-size: 0.95em;
    font-weight: normal;
    color: #333333;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #fefefe;
    text-transform: none;
}

.divtitubicacion{
    background-color:#f6f6f6;
    color: #333333;
    padding:5px 2px;
    font-size: 0.95em;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    margin-top: 8px;
}
#lvSector1{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvSector1 li{
    padding: 0px;
    color: #333333;
    font-size: 0.95em;
}

#lvSector1 li div:hover{
    background-color: rgba(26,154,220,0.3);
}

#lvSector1 li div{
    font-size: 0.95em;
    font-weight: normal;
    color: #333333;
    padding: 10px 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}

#lvSector2{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvSector2 li{
    padding: 0px;
    color: #333333;
    font-size: 0.95em;
}

#lvSector2 li div{
    font-size:0.95em;
    font-weight: normal;
    color: #333333;
    padding: 10px 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}
#lvSector2 li div:hover {
    background-color: rgba(26,154,220,0.3);
}

#lvDependencia1{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvDependencia1 li{
    padding: 0px;
    color: #333333;
    font-size: 0.95em;
}
#lvDependencia1 li div:hover {
    background-color: rgba(26,154,220,0.3);
}

#lvDependencia1 li div{
    font-size: 0.95em;
    font-weight: normal;
    color: #333333;
    padding: 10px 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}
#lvDependencia2{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvDependencia2 li{
    padding: 0px;
    color: #333333;
    font-size:0.95em;
}
#lvDependencia2 li div:hover {
    background-color: rgba(26,154,220,0.3);
}

#lvDependencia2 li div{
    font-size: 0.95em;
    font-weight: normal;
    color: #333333;
    padding: 10px 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}

#lvSubFamilia{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvSubFamilia li{
    padding: 0px;
    color: #333333;
    font-size:0.95em;
}

#lvSubFamilia li div:hover{
    background-color: rgba(26,154,220,0.3);
}

#lvSubFamilia li div{
    font-size: 0.95em;
    font-weight: normal;
    color: #333333;
    padding: 10px 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}

#lvEquipo{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvEquipo li{
    padding: 0px;
    color: #333333;
    font-size: 0.95em;
}

#lvEquipo li div:hover{
    background-color: rgba(26,154,220,0.3);
}

#lvEquipo li div{
    font-size: 0.95em;
    font-weight: normal;
    color: #333333;
    padding: 10px 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}

#lvElemento1{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvElemento1 li{
    padding: 0px;
    color: #333333;
    font-size: 0.95em;
}

#lvElemento1 li div:hover{
    background-color: rgba(26,154,220,0.3);
}

#lvElemento1 li div{
    font-size: 0.95em;
    font-weight: normal;
    color: #333333;
    padding: 10px 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}

#lvElemento2{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvElemento2 li{
    padding: 0px;
    color: #333333;
    font-size: 0.95em;
}

#lvElemento2 li div:hover{
    background-color: rgba(26,154,220,0.3);
}

#lvElemento2 li div{
    font-size: 0.95em;
    font-weight: normal;
    color: #333333;
    padding: 10px 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}

#lvInventarioLista{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvInventarioLista li{
    padding: 0px;
    color: #333333;
    font-size: 0.95em;
}

#lvInventarioLista li div:hover{
    background-color: rgba(26,154,220,0.3);
}

#lvInventarioLista li div{
    font-size: 0.95em;
    font-weight: normal;
    color: #333333;
    padding: 10px 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}



.lbltit{
    color: #005ca9;/* #16648d ;*/
    padding:5px ;
    font-size: 0.85em !Important;
    background-color: #f6f6f6;
    font-weight: bold !Important;
}
.lbltit:hover {
    background-color: rgba(26,154,220,0.3);
    cursor: pointer;
}
.lblnormal{
    color: #333333;
    padding: 2px 5px;
    font-size: 0.85em !Important;
    margin: 0px !Important;
}
.lblnormalBorde{
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
    background-color: #f3f3f3;
    padding:3px;
    margin: 0px;
    height: 1.2em;
    font-size: 0.85em !Important;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 0 3px #efefef /*{c-active-background-color}*/;
    -moz-box-shadow: 0 0 3px #efefef /*{c-active-background-color}*/;
    box-shadow: 0 0 3px #efefef /*{c-active-background-color}*/;
    overflow: hidden;
    text-overflow: ellipsis;
}

.celdaLabel{
    font-size: 0.9em;
    white-space: nowrap;
    padding:3px;
}
.lblTitulo{
    color: #ffffff;
    background-color: #1a9adc;
    padding:5px;
    font-size: 0.9em !Important;
    -webkit-box-shadow: 0 0 3px 0 #1a9adc /*{c-bar-background-color}*/ /*{c-active-background-color}*/;
    -moz-box-shadow: 0 0 3px 0 #1a9adc /*{c-bar-background-color}*/ /*{c-active-background-color}*/;
    box-shadow: 0 0 3px 0 #1a9adc /*{c-bar-background-color}*/ /*{c-active-background-color}*/;
}

.imgedit{
    color: #333333;
    background-color: #f3f3f3;
    padding:3px;
    margin: 0px;
    height: 1.2em;
    font-size: 0.9em !Important;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 0 3px #efefef /*{c-active-background-color}*/;
    -moz-box-shadow: 0 0 3px #efefef /*{c-active-background-color}*/;
    box-shadow: 0 0 3px #efefef /*{c-active-background-color}*/;
}

#divDatosUbicacion a{
    color: #16648d ;
    text-decoration: none;
}
#divDatosUbicacion a:hover{
    background-color: rgba(26,154,220,0.3);
}

#divFicha label{
    font-size: 1.05em;
}
#divFicha table{
    font-size: 1.05em;
}

.fit-content{
    position : absolute;
}

.fit-content {
    top : 0px;
    bottom : 1px;
    left : 0;
    right : 0;
}
.fit-content > div {
    height : 100%;
}

#divTipoInci{
    width: 100%;
    text-align: center;
    align-content: center;
    display: inline-table;
}

#divTipoInci a{
    width: 130px;
    height: 80px;
    display: inherit;
    margin: 5px;
    text-align: center;
    white-space: normal;
    text-transform: none;
    font-width: normal;
    font-size: 0.9em;
    font-weight: normal;
    padding: 2px;
}

#divTipoInci a div {
    line-height: 15px;
}

.divCargar{
    text-align: center;
    align-content: center;
    background-color: #393939;
    filter: Alpha(Opacity=30);
    opacity: .3;
}

.divCargarDatos{
    height: 15%;
    position: absolute;
    width: 50%;
    top: 30%;
    left: 25%;
    background-color: #ffffff;
    min-height: 130px;
    min-width: 180px;
    -webkit-box-shadow: 0 0 12px #1a9adc /*{c-active-background-color}*/;
    -moz-box-shadow: 0 0 12px #1a9adc /*{c-active-background-color}*/;
    box-shadow: 0 0 12px #1a9adc /*{c-active-background-color}*/;
}

textarea{
    text-transform:uppercase;
    height: 70% !important;
    margin: 0px;
}
textarea.ui-input-text {
    height: 70% !important;
    margin: 0px;
}
textarea.ui-input-text.ui-textinput-autogrow{
    overflow: auto;
    margin: 0px;
}

.divSelect{
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
    background-color: rgba(26,154,220,0.3);
    padding:5px;
    font-size: 0.9em !Important;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 0 3px #efefef /*{c-active-background-color}*/;
    -moz-box-shadow: 0 0 3px #efefef /*{c-active-background-color}*/;
    box-shadow: 0 0 3px #efefef /*{c-active-background-color}*/;
    width: 40px;
    text-align: center;
}
.divNoSelect{
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
    background-color: #f3f3f3;
    padding:5px;
    font-size: 0.9em !Important;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 0 3px #efefef /*{c-active-background-color}*/;
    -moz-box-shadow: 0 0 3px #efefef /*{c-active-background-color}*/;
    box-shadow: 0 0 3px #efefef /*{c-active-background-color}*/;
    width: 40px;
    text-align: center;
}

.celdamenuselect {
    font-size: 0.9em;
    font-weight: normal;
    color: #1a9adc;
    border-bottom: 4px solid  #1a9adc;
    background-color: #f6f6f6;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
}

.celdamenuselect:hover {
    background-color: rgba(26,154,220,0.3);
    cursor: pointer;
}

.celdamenu {
    font-size: 0.9em;
    font-weight: normal;
    color: #666666;
    border-bottom: 4px solid  #666666;
    background-color: #f6f6f6;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding:10px 5px 10px 5px;
}

.celdamenu:hover {
    background-color: rgba(26,154,220,0.3);
    cursor: pointer;
}

.imgLapiz{
    width: 18px;
}

.lbltexto1{
    color: #333333;
    padding:5px 10px 0px 10px !Important;
    font-size: 0.95em !Important;
    margin: 0px !Important;
}

.botonClasif{
    background-color: #efefef ! Important;
    border-color: #dddddd !Important;
    color: #005ca9  !Important;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 0px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #005ca9  /*{c-bup-shadow-color}*/ !Important;
}


.botonClasif:hover{
    background-color: rgba(26, 154, 220, 0.3) /*{c-bhover-background-color}*/;
    border-color: #dddddd /*{c-bhover-border}*/;
    color: #1a9adc /*{c-bhover-color}*/;
    text-shadow: 0 /*{c-bhover-shadow-x}*/ 0px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #1a9adc /*{c-bhover-shadow-color}*/;
}