.mi-util{
    background-color:transparent;
    padding:2px;
}

.mi-util:hover{
    background-color:#f9dce2;
}

.mi-util a {
    background-color:transparent;
    padding:4px;
    display:block;
}

.mi-util a:hover {
    background-color:transparent;
}

.mi-boton-cab{
    background-color:transparent;
    padding:2px;
}

/*.mi-util:hover{*/
/*background-color:#f9dce2;*/
/*}*/

.mi-boton-cab a {
    background-color:transparent;
    padding:4px;
    display:block;
}
.mi-boton-cab a:visited  {
    background-color:transparent;
}
.mi-boton-cab a:link {
    background-color:transparent;
}
.mi-boton-cab a:active {
    background-color:transparent;
}

.mi-boton-cab a:hover {
    background-color:transparent;
}


.mi-img-menu
{
    margin:2px;
    height:16px;
    width:16px;
    background-image: url('images/bars-white.png');
    background-repeat: no-repeat;
}

.mi-cab-menu {
    display:-webkit-box;
    margin:-12px;
    background-color:#fafafa;
    color:#DB0D36;
    font-size:0.9em;
    font-weight:bold;
}
.mi-cab-menu-texto {
    padding:14px;
}
.mi-ul {
    list-style:none;
    text-decoration:none;
    font-size:0.85em;
    -webkit-padding-start: 0px;
    margin-left: -10px;
    margin-right: -10px;
}
.mi-selected {
    color:#DB0D36;
}
.mi-ul li {
    border-bottom:1px solid #fafafa;
    padding-left:10px;
}
.mi-ul li:hover {
    background-color: #f9dce2;
}

.mi-ul a {
	padding: 10px 10px;
	text-decoration: none;
	zoom: 1; /* IE7 */
    color:#333333;
}

.div-loading {
    background: url(../images/gif-load.gif) ;
    background-size: 2.875em 2.875em;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 45%;
    text-align: center;
    color: #B80529;
    font-style: italic;
    padding-top: 15px;
}
.div-mensaje {
    text-align: center;
    color: #B80529;
    font-style: italic;
    padding-top: 15px;
}


.tdSelect .ui-select .ui-btn {
    background-color: transparent;
    font-weight: normal;
    font-size: 1em;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #333333;
}
.tdSelect .ui-select .ui-btn:hover {
    background-color: transparent;
    font-weight: normal;
    font-size: 1em;
    color: #333333;
}
.tdSelect .ui-select .ui-btn:visited {
    background-color: transparent;
    font-weight: normal;
    font-size: 1em;
    color: #333333;
}

#lvCentros{
    list-style: none;
    margin: 0.5em;
    padding: 0em;
}
#lvCentros li{
    padding: 0px;
    color: #333333;
    height: 60px;
    font-size: 0.95em;
}

#lvCentros li a{
    font-size: 0.95em;
    font-weight: normal;
    color: #333333;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #fefefe;
    text-transform: none;
}

.divtitubicacion{
    background-color:#f6f6f6;
    color: #333333;
    padding:5px 2px;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
}
#lvSector1{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvSector1 li{
    padding: 10px 0px;
    color: #333333;
    font-size: 1em;
}

#lvSector1 li div{
    font-size: 1em;
    font-weight: normal;
    color: #333333;
    padding: 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}
#lvSector2{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvSector2 li{
    padding: 10px 0px;
    color: #333333;
    font-size: 1em;
}

#lvSector2 li div{
    font-size:1em;
    font-weight: normal;
    color: #333333;
    padding: 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}
#lvDependencia1{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvDependencia1 li{
    padding: 10px 0px;
    color: #333333;
    font-size: 1em;
}

#lvDependencia1 li div{
    font-size: 1em;
    font-weight: normal;
    color: #333333;
    padding: 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}
#lvDependencia2{
    list-style: none;
    margin: 0em;
    padding: 0em;
}
#lvDependencia2 li{
    padding: 10px 0px;
    color: #333333;
    font-size: 1em;
}

#lvDependencia2 li div{
    font-size: 1em;
    font-weight: normal;
    color: #333333;
    padding: 7px;
    text-transform: none;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
}

.lbltit{
    color: #333333;
    padding:5px;
    font-size: 1.05em !Important;
    background-color: #f6f6f6;
    font-weight: bold !Important;;
}
.lblnormal{
    color: #333333;
    padding:5px;
    font-size: 1.05em !Important;
}

#divFicha label{
    font-size: 1.05em;
}
#divFicha table{
    font-size: 1.05em;
}

.fit-content{
    position : absolute;
}

.fit-content {
    top : 40px;
    bottom : 1px;
    left : 0;
    right : 0;
}
.fit-content > div {
    height : 100%;
}

#divTipoInci{
    width: 100%;
    text-align: center;
    align-content: center;
    display: inline-table;
}

#divTipoInci a{
    width: 110px;
    height: 90px;
    display: inherit;
    margin: 5px;
    text-align: center;
    white-space: normal;
    text-transform: none;
    font-width: normal;
    font-size: 0.9em;
    font-weight: normal;
}

#divTipoInci a div {
    line-height: 15px;
}

.divCargar{
    text-align: center;
    align-content: center;
    background-color: #393939;
    filter: Alpha(Opacity=30);
    opacity: .3;
}

.divCargarDatos{
    height: 15%;
    position: absolute;
    width: 50%;
    top: 30%;
    left: 25%;
    background-color: #ffffff;
    min-height: 130px;
    min-width: 180px;
    -webkit-box-shadow: 0 0 12px #a80929 /*{c-active-background-color}*/;
    -moz-box-shadow: 0 0 12px #a80929 /*{c-active-background-color}*/;
    box-shadow: 0 0 12px #a80929 /*{c-active-background-color}*/;
}
